.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

// welcome
.welcome {
  width: 100vw;
  height: calc(100vh - 2rem);
  display: grid;
  place-items: center;
  margin-top: 3rem;
}
.welcome-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
}
.welcome-left {
  margin-top: -3rem;
}
.welcome-left h4 {
  margin-bottom: 25px;
  color: var(--color-primary);
  font-weight: 400;
}

.welcome-left h2 {
  font-size: 30px;
  line-height: 40px;
}

.welcome-left p {
  margin-bottom: 15px;
  margin-top: 10px;
  font-weight: 1.1rem;
}
.welcome-right {
  display: grid;
  place-items: center;
  position: relative;
}

.welcome-image-up {
  display: none;
}
.welcome-image-down {
  position: relative;
  margin-top: -150px;
}

.button-more {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  width: 250px;
  height: 60px;
  border-radius: 50px;
  margin-top: 10px;
  p {
    text-align: center;
    font-size: 17px;
    padding-top: 5px;
  }
}

.button-more:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
}

//
.programs {
  margin-top: 4rem;
}

.container_card {
  margin-top: 6rem;
}

.programs__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 6rem;
}

.programs__program {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #d9a47e; /* Main card background color */
  width: 220px;
  height: 385px;
  padding: 12px;
  border-radius: 25px;
  text-align: center;
}

.programs__program h4 {
  color: #331200;
  font-size: 20px;
  padding: 2px;
}

.programs__program small {
  margin-bottom: 50px;
  margin-top: 30px;
  display: block;
  font-weight: 300;
}

.icon_programs {
  position: absolute;
  top: 0;
  background-color: #8b572a; /* Icon background color */
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  transform: translateY(-30px);
}

.icon_programs span {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.btn_program {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  font-size: 12px;
  padding: 5px;
  width: 90px;
  border-radius: 45px;
  :hover {
    background-color: var(--color-accent);
  }
}

//values
.values__container {
  padding-top: 7rem;
  display: grid;
  grid-template-columns: 38% 50%;
  gap: 3rem;
}

.values__image {
  transition: var(--transition);
}
.values__right {
  width: 45rem;
}

.values__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  --swiper-navigation-color: #914f1e;
}

.values__value {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #d9a47e; /* Main card background color */
  width: 260px;
  height: 300px;
  padding: 15px;
  border-radius: 30px;
  text-align: center;
  margin: 50px;
}

.number_values {
  position: absolute;
  top: 0;
  background-color: #8b572a; /* Icon background color */
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  transform: translateY(-30px);
}

.number_values span {
  font-size: 25px;
  color: aliceblue;
}

// FAQs
.faqs {
  margin-top: 7rem;
}
.faqs__wrapper {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem 5rem;
  align-items: flex-start;
}
.faq {
  background: var(--color-secondary);
  padding: 1rem;
  border-radius: 1rem;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  p {
    margin-top: 1.5rem;
  }
}

.faq__icon {
  color: var(--color-primary);
  font-size: 1rem;
}

// Testimonials

.testimonials {
  margin-top: 7rem;
  width: 80rem;
  margin-inline: auto;
}

.tittle_testimonial {
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card.testimonial {
  width: 2000px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  text-align: left;
  gap: 3rem;
  margin-top: 3rem;
  background-color: var(--color-secondary);
  border-radius: 20px;
}
.testimonial__avatar {
  display: flex;
  width: 25rem;
  height: 15rem;
  border-radius: 1.5rem;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 1.5rem 2rem rgba(26, 26, 54, 0.4);
  transition: var(--transition);
}
.testimonial_right h5 {
  color: var(--color-primary);
}
.testimonial__quote {
  font-style: italic;
  margin: 1rem 0 2rem;
}
.card small.testimonial__title {
  margin-top: 0.3rem;
}
.testimonials__btn-container {
  width: fit-content;
  margin: 2.5rem auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.testimonial__btn {
  background: transparent;
  cursor: pointer;
  svg {
    fill: var(--color-primary);
    font-size: 1.8rem;
    width: 3rem;
    height: 3rem;
    transition: var(--transition);
  }
  &:hover {
    svg {
      fill: var(--color-secondary);
    }
  }
}

//footer
footer {
  background: var(--color-secondary);
  margin-top: 7rem;
  padding-top: 3rem;
  font-size: 0.9rem;
  color: #000000;
  .logo {
    width: 14rem;
  }
}
.footer__container {
  display: grid;
  grid-template-columns: 26rem 1fr 1fr 1fr;
  gap: 6rem;
  article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.7rem;
    h4 {
      margin-bottom: 0.6rem;
      font-size: 1.2rem;
    }
    a {
      color: black;
      font-weight: 500;
      font-size: large;
      transition: var(--transition);
      &:hover {
        color: var(--color-primary);
        text-decoration: underline;
      }
    }
  }
}
.footer__socials {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  gap: 1rem;
}
.footer_social_up {
  font-size: 30px;
  display: flex;
  text-align: left;
}
.footer_social_down {
  display: flex;
  flex-direction: column;
  align-items: start;
  li {
    display: flex;
    gap: 15px;
    margin-top: 10px;
  }
}
.icon_footer {
  width: 30px;
  height: 30px;
}
.footer__copyright {
  background-color: var(--color-primary);
  color: aliceblue;
  text-align: center;
  padding: 10px;
  border-top: 2px solid var(--color-primary-variant);
  margin-top: 5rem;
}
.location_footer {
  width: 300px;
}

@media (max-width: 1024.98px) {
  .welcome {
    margin-top: 12rem;
    height: fit-content;
  }
  .welcome-container {
    gap: 0;
  }
  // Programs
  .programs__wrapper {
    display: flex;
    gap: 3px;
  }

  .programs__program {
    height: 460px;
  }

  // Values
  .values__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  .values__left {
    width: 60%;
  }
  .values__right {
    width: 95%;
  }
  .values__value {
    width: 65%;
  }
  .values__image {
    display: flex;
    width: auto;
  }

  // FAQs
  .faqs__wrapper {
    grid-template-columns: 1fr;
  }

  // Testimonials
  .testimonials {
    width: 75%;
  }
  // Footer
  .footer__container {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
}

@media (max-width: 600.98px) {
  .welcome {
    margin: 7rem 0 0;
    height: 75vh;
  }
  .welcome-container {
    display: flex;
    justify-content: center;
  }
  .welcome-image-down {
    display: none;
  }
  .welcome-image-up {
    display: flex;
    margin-bottom: 2rem;
  }
  .welcome-left {
    h4 {
      font-size: 20px;
      margin: 2px;
    }
    h2 {
      font-size: 19px;
    }
  }
  .button-more {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 150px;
    p {
      font-size: 10px;
    }
  }

  // Programs
  .section_header {
    h1 {
      font-size: 20px;
    }
  }
  .programs__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .programs__program {
    margin-top: -35px;
    margin-bottom: 60px;
    padding: 10px;
    padding-top: 3rem;
    width: 100%;
    height: 90%;
    span {
      font-size: 20px;
    }
    h4 {
      font-size: 14px;
    }
    small {
      font-size: 9px;
      text-align: center;
    }
  }

  .icon_programs {
    width: 40%;
    height: 25%;
  }

  // Values
  .values__left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36vh;
    height: auto;
  }

  .values__value {
    margin-left: 3rem;
    width: 25vh;
  }
  .values__right {
    h1 {
      font-size: 20px;
    }
  }

  // FAQS
  .faqs {
    margin-top: 2rem;
    h1 {
      font-size: 20px;
    }
  }
  .faqs__wrapper {
    font-size: 15px;
    gap: 1rem;
    margin-top: 2rem;
  }

  // Testimonials
  .testimonials {
    width: 100%;
    margin-top: 3rem;
  }
  .tittle_testimonial {
    font-size: 20px;
  }

  .card.testimonial {
    display: flex;
    flex-direction: column;
  }

  .testimonial__avatar {
    width: 100%;
  }

  // Footer
  footer {
    margin-top: 7rem;
  }
  .footer__container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .footer__container article {
    width: 40vh;
    align-items: center;
    p {
      text-align: center;
    }
  }
}
