.body-main {
  background-color: #F9F9F9;
}

.homepage-container h1 {
  font-size: 36px;
  margin-top: 2rem;
}

.userdata-1 {
  display: flex;
  margin-top: 2rem;
  gap: 3rem;
}

.userdata-wrapper {
  background-color: #EEEEEE;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #181C14;
  text-align: center;
}

.userdata-wrapper h3 {
  font-size: 15px;
  margin-bottom: 1rem;
}

.table-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.styled-table {
  margin: 25px 0;
  font-size: 18px;
  max-width: 350px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid black;
}

.styled-table thead tr {
  background-color: #EEEEEE;
  border-bottom: 1px solid gray;
  font-weight: bold;
}

.styled-table th {
  padding: 10px;
  min-width: 310px;
  text-align: center;
}
.styled-table td {
  padding: 12px 15px;
  text-align: center;
}

.styled-table tbody tr {
  background-color: #EEEEEE;
  border-bottom: 1px solid gray;
}

@media (max-width: 768px) {

}

