.about__story {
  margin-top: 3rem;
}
.about__section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  font-size: 23px;
  p {
    margin-bottom: 1rem;
  }
}
.about__story-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__vision-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_vision {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.line {
  height: 2px;
  background-color: #331200;
  margin: 10px 0 30px;
  width: auto;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.content-left h1 {
  font-size: 40px;
  align-items: center;
  justify-content: flex-start;
  margin-top: -110px;
}

.content-left h2 {
  font-size: 40px;
  margin-top: -210px;
}
.content-right p {
  font-size: 22px;
  margin-bottom: 20px;
}

@media (max-width: 1024.98px) {
  .about__section-image {
    width: 60%;
  }
  .about__section-content h1 {
    margin-bottom: 1.2rem;
  }
  .about__story-container,
  .about__vision-container,
  .about__mission-container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .about__vision .about__section-image {
    grid-row: 1;
  }
}

@media (max-width: 600.98px) {
  .about__section-content{
    font-size: 15px;
  }
 .about_vision {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 }
 .line {
  margin: 0px 0px 0px;
  margin-top: -40px;
  margin-bottom: 20px;
 }
 .content-left h1 {
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 2px;
}
.content-left h2 {
  font-size: 25px;
  margin-top: 1rem;
}
.content-right p {
  font-size: 15px;
  margin-bottom: 0px;
}
}
