*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-primary: #914f1e;
  --color-accent: #f7dcb9;
  --color-secondary: #deac80;
  --color-gray-100: #ffffff;
  --color-gray-200: #000000;
  --color-gray-300: #00ffae;
  --color-gray-400: #4c499c;
  --color-gray-500: #63d4e5;
  --color-gray-600: #f9fffe;
  --color-gray-700: #000000;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --transition: all 500ms ease;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

body {
  color: var(--color-gray-200);
  line-height: 1.7;
  overflow-x: hidden;
  background: #f5f5dc;
}
ul {
  list-style: none;
}
button {
  background: transparent;
  border: 0;
  cursor: pointer;
}
a {
  text-decoration: none;
  display: inline-block;
}
.container {
  width: var(--container-width-lg);
  max-width: 1920px
}
h1 {
  margin-left: 20;
}
p {
  margin-left: 20;
}
h2 {
  margin-left: 20;
}
h3,
h4,
h5 {
  line-height: 1.2;
  color: var(--color-black-100);
}
h1 {
  font-size: 3rem;
  color: var(--color-gray-700);
}
h2 {
  font-size: 2rem;
}
a {
  color: var(--color-gray-100);
}
img {
  display: block;
  object-fit: cover;
  width: 100%;
}


.section__head {
  display: flex;
  align-items: center;
  gap: 1rem;
  span {
    background: var(--color-gray-500);
    padding: 0.8rem;
    border-radius: 1rem;
    color: var(--color-secondary);
    font-size: 1.5rem;
  }
}

.page-welcome-container {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/about-image.png");
}
.page-welcome-image {
  position: absolute;
}
.page-welcome-image img {
  opacity: 0.5;
}
.welcome-content {
  position: relative;
  width: 44%;
  text-align: center;
  color: var(--color-gray-700);
  h2 {
    margin-bottom: 1rem;
    color: rgb(234, 192, 43);
  }
  p {
    color: rgb(212, 210, 210);
  }
}

@media (max-width: 1024.98px) {
  .container {
    width: var(--container-width-md);
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  .welcome-content {
    width: 76%;
  }
}
@media (max-width: 600.98px) {
  .page-welcome-container {
    height: 60vh;
  }
  .welcome-content {
    width: var(--container-width-md);
    padding: 3rem 0;
    p {
      font-size: 0.85rem;
    }
  }
}
